<div class="media">
  <div class="media-body">
    <div class="media-section">
      <h2>Pictures</h2>
      <% if @flat.picture.url %>
        <%= image_tag @flat.picture.url(:standard) %>
      <% else %>
        no picture
      <% end %>
    </div>
    <div class="media-section">
      <h2>Description</h2>
      <br>
      <%= @flat.short_description %><br>
      <%= @flat.description %><br>
      <%= @flat.room_count %><br>
      <%= @flat.property_type %><br>
      <%= @flat.price %><br>
      <%= @flat.country %><br>
      <%= @flat.city %><br>
      <%= @flat.street %><br>
      <%= @flat.zipcode %><br>


      <% if @flat.user != current_user %>


        <%= simple_form_for [@flat, @booking] do |b| %>
        <%= b.input :start_date %>
        <%= b.input :end_date %>
       <p>Book this place</p>
        <%= b.submit %>

      <% end %>

    </div>
  </div>
  <div class="media-aside">
    <div class="media-section">
      <h2>Share</h2>

    </div>
    <div class="media-section">
      <h2>Reviews to come ... </h2>
      ...
    </div>
  </div>
</div>







<% end %>
