<div class="container">
  <div class="row">
     <div class="col-sm-offset-1 col-sm-5">
        <div class="classWithPad">
          <h3 class="media-heading h2"><%= @flat.short_description %></h3>
          <br>
          <dl class="dl-horizontal">
              <dt>Nbr of rooms</dt>
              <dd><%= @flat.room_count %></dd>
              <dt>Type</dt>
              <dd><%= @flat.property_type %></dd>
              <dt>Price per night</dt>
              <dd><%= @flat.price %></dd>
              <dt>Street</dt>
              <dd><%= @flat.street %></dd>
              <dt>City</dt>
              <dd><%= @flat.city %></dd>
              <dt>Zip Code</dt>
              <dd><%= @flat.zipcode %></dd>
              <dt>Country</dt>
              <dd><%= @flat.country %></dd>
          </dl>
          <%= @flat.description %>
        </div>
      </div>
    <div class="col-sm-5">
      <div class="classWithPad">
          <% if @flat.picture.url %>
          <%= image_tag @flat.picture.url(:show), :class => "img-rounded" %>
          <% else %>
          no picture
          <% end %>
          <br>
      </div>
        <div class="classWithPad">
        <% if @flat.user != current_user %>
          <%= simple_form_for [@flat, @booking] do |b| %>
          <%= b.input :start_date %>
          <%= b.input :end_date %>
          <%= b.submit class: "btn btn-medium" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>




  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">

      <p>
        <h3>Reviews</h3>
        <%= link_to "add a review", new_flat_review_path(@flat), class: "btn btn-medium" %>
        </p>

        <% @reviews.each do |review| %>
           <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <% review.rating.times do  %>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                  <% end %>
                  by
                  <%= link_to User.find(review.user_id).first_name, user_path(review.user_id) %>
                </h3>
              </div>
              <div class="panel-body">
                <%= review.content %>
              </div>
          </div>
        <% end %>
    </div>
  </div>

<div id="map" style="width: 947px; height: 400px; left: 97px;"></div>

</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
