<%= @flat.short_description %>
<%= @flat.description %>
<%= @flat.room_count %>
<%= @flat.property_type %>
<%= @flat.price %>
<%= @flat.country %>
<%= @flat.city %>
<%= @flat.street %>
<%= @flat.zipcode %>


<p>Book a place</p>
<% if @flat.user != current_user %>
  <%= simple_form_for [@flat, @booking] do |b| %>
    <%= b.input :start_date %>
    <%= b.input :end_date %>
    <%= b.submit %>
  <% end %>
<% end %>
