

<div class="container">

    <% @flats.each do |f| %>
  <div class="row content">
    <div class="card-small">
      <h3><%= link_to f.short_description, flat_path(f) %></h3>
      <p>Price per night : <%= f.price %></p>
    </div>
    <div>
    <p><%= link_to "Edit", edit_flat_path(f) %></p>



      <% f.bookings.each do |b| %>
        <div>
        <%= b.start_date %> - <%= b.end_date %> - <%= b.status%> - <%= b.user.last_name %> - <%= b.flat.short_description %> -
        <%= link_to "Confirm", flat_booking_confirm_path(f,b), method: :patch %>
        <%= link_to "Decline", flat_booking_decline_path(f,b), method: :patch %>
          </div>
      <% end %>

    </div>
  </div>
    <% end %>

</div>



<%= link_to "Add a flat", new_flat_path %>

