<h1>You have a new booking in fantastic-rbnb</h1>

<p>

Hello <%= @user.first_name %> <%= @user.last_name %>,

You have a new booking for your <%= @flat.property_type %>, at <%= @flat.street %> in <%= @flat.city %>
Please log in on your interface and handle the request.

Best regards,

The team at F-rbnb
</p>
