

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(30,30,30,0.6) 0%, rgba(30,30,30,0.6) 50%), url('<%= cl_image_path 'pexels-photo-25431_a1vpcx', class: "banner" %>');">
  <div class="banner-content">
    <h1>Find a place to stay ...</h1>
    <p>Very cool places anywhere on earth</p>
      <%= simple_form_for :search,  url: flatsearch_path, :method => :get do |f| %>
      <div class="form-inline">
        <%= f.input :start_date, as: :date %>
        <%= f.input :end_date, as: :date %>
      </div>

      <%= f.input :city, inline_label: "City" %>
      <%= f.input :country, prompt: "Select a country" %>
      <%= f.submit "Search", :class => "btn btn-primary btn-lg"%>

    <% end %>

  </div>
</div>




