<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>TODO</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
</head>
<body>



  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="navbar-wagon">

    <%= link_to "My Properties", my_properties_path %>
     <%= link_to "My Bookings", bookings_path %>
    <%= link_to "Search", root_path, method: :get %>
    <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        <% else %>
        <%= link_to "Sign in", new_user_session_path, method: :get %>
    <% end %>

  </div>
  <%= yield %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
